* {
  margin:0;
  padding: 0;
  font-family: Century Gothic;
}
header{
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('image3.jpg');
  height:100vh;
  background-size: cover;
  background-position: center;
}
ul{
  list-style-type: none;
  float: right;
  margin-top:25px;
  margin-right:25px;
}
ul li {
  display:inline-block;
}
ul li a {
  text-decoration: none;
  border:1px solid transparent;
  border-radius:10px;
  color: whitesmoke;
  padding:5px 15px;
  transition:0.6s ease;
}
ul li a:hover {
  background-color: #fc036b;
  color: whitesmoke;
}
a {
  color: whitesmoke;
  text-decoration: none;
}
.logo{
  float: left;
  width:150px;
  font-weight: bold;
  font-size:25px;
  margin-top:20px;
  margin-left:20px;
  color: whitesmoke;
}
.main {
  width:100%;
  margin:auto;
}
.line {
  height:4px;
  width:250px;
  background-color: #fc036b;
  margin-left:60px;
  margin-top:2px;
  margin-bottom:5px;
}
.title {
  position: absolute;
  top:65%;
  left:50%;
  transform: translate(-50%,-50%);
  margin-top:100px;
}
.title h1 {
  color: gray;
  font-size:7vmin;
  margin-left:30px;
}
.title h3{
  color: gray;
  font-size: 4vmin;
}
.button {
  position: absolute;
  top:67%;
  left:50%;
  transform:translate(-50%,-50%);
  color: whitesmoke;
}
.btn {
  background-color: #fc036b;
  border:1px solid black;
  padding:10px 30px;
  color; whitesmoke;
  text-decoration: none;
  transition:0.6s ease;
  border-radius:15px;
}
.btn:hover {
 background-color: salmon;
  color: whitesmoke;
}
.active {
  background-color: #fc036b;
  color: whitesmoke;
  border-radius:30px;
  margin:auto;
  padding:auto;
}
span {
  display:none;
}
.closebtn {
  display:none;
}
@media screen and (max-height: 900px){
  span{
    display:inline;
  }
 .closebtn {
    display: block;
 }
.main {
   height: 0%;
   width: 100%;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   background-color: rgb(0,0,0);
   background-color: rgba(0,0,0,0.9);
   overflow-y: hidden;
   transition: 0.5s;
}

.mains {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
}

.main a {
    padding: 8px;
    text-decoration: none;
    font-size: 50px;
    color: #818181;
    display: block;
    transition: 0.3s;
    justify-content: center;
}

.main a:hover, .main a:focus {
    color: #f1f1f1;
}

.main .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
}
  .main {overflow-y: auto;}
  .main a {font-size: 20px}
  .main .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    float: right;
  }
  span {
    float:right;
    margin-top:5px;
  }
  .line {
    margin-right:50px;
    width:150px;
  }
  .title h1 {
    margin-left:59px;
  }
  .title h3 {
    margin-left:48px;
  }
  ul li {
    display:block;
    margin-right:180px;
    margin-bottom: 10px;
  }
    ul{
    text-align:center;
     justify-content: center;
     justify-items: center;
    }
}
